.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 350px;
    min-width: 300px;
    
}

.image {
    height: 200px;
}

@media (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 350px;
        width: 200px;
        min-width: 200px;
        
    }

    .image {
        height: 165px;
        width: 180px;
    }
}